<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome Check</h2>

    <p>Given String = <%= @str %></p>
    <p>Is it a palindrome: <%= @palindrome %></p>
  </div>
</div>
